{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Stop Wasting Hours on manual application. Automate Your Scheduling in Seconds.</h1>
        <p class="lead">Use the navigation bar above to manage your scheduling data.</p>
        <hr class="my-4">
        <p>This interface allows you to add, edit, and delete various data points used by the CP-SAT solver, as well as upload Excel files for bulk data updates.</p>
        <p>Generate mathematically perfect rosters that respect legal constraints, maximize fairness, and ensure 100% shift coverage. Powered by Google OR-Tools</p>
    </div>
{% endblock %}